package pages

templ Error404(path string) {
	<div id="container">
		<section id="404" class="h-screen flex flex-col items-center justify-center">
			<span class="text-4xl text-black"><b>Error 404:</b> Not found</span>
			<span class="text-2xl text-black">The requested page {path} could not be found.</span>
		</section>
	</div>
}
